<div class="col-sm-8">
    <div class="jumbotron bg-danger">
        <h1>
            <%- JSON.stringify(req.status) %>
            <%#- console.log(`ERRO: ${JSON.stringfy(req.status)}`) %>
        </h1>
        <p>Volte para a página de <a href="/">início</a></p>
    </div>
</div>