<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron bg-danger text-align-center">
            <h1>Login inválido !!!</h1>
            <p><a href="/cadastrar" class="btn btn-dark">CADASTRAR</a> ou
                efetuar <a href="/login" class="btn btn-dark">LOGIN</a></p>
        </div>
        <%- include('../partials/mensagem') %>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>