<!DOCTYPE html>
<html lang="ptbr">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header class="container">
        <%- include('../partials/header'); %>
        <% if (req.session.loggedin) { %>
        <%- include('../partials/menu_dashboard'); %>
        <% } %>
    </header>
    <main class="container">
        <!-- <div class="jumbotron"></div> -->
        <div class="container-sm border border-danger rounded-lg">
            <div class="form-group">
                <h3 style="text-align: center; color:blue; border: 1px solid blue; margin-top: 10px;">Inserir nova postagem</h3>
                <form action="/postadd" method="post">
                    <div class="form-group">
                        <div><label for="titulo">Título da postagem</label></div>
                        <div><input type="text" id="titulo" name="titulo" required class="form-control" /></div>
                    </div>
                    <div class="form-group">
                        <div><label for="conteudo">Conteúdo da postagem</label></div>
                        <div><textarea id="conteudo" name="conteudo" cols="80" rows="5" required class="form-control"></textarea> </textarea>
                        </div>
                    </div>
                    <!-- <div class="form-group"> -->
                    <!-- Embed the HTMEditor -->
                    <!-- <textarea id="htmeditor" class="form-control"></textarea> -->
                    <!-- <script src="https://htmeditor.com/js/htmeditor.min.js" htmeditor_textarea="htmeditor" full_screen="no" editor_height="480" run_local="yes"> </script> -->
                    <!-- </div> -->
                    <div><button type="submit" class="form-control btn btn-dark">Inserir postagem</button></div>
                </form>
            </div>
        </div>


        <div class="fixed-bottom">...</div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>